.message {
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #000;
  border-radius: 5px;
  word-wrap: break-word;
}

.date {
  text-align: right;
  font-size: 13px;
  margin-top: 3px;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
