.list {
  list-style-type: none;
  margin: 0 10px;
  max-width: 1200px;
  background-color: antiquewhite;
  margin: 0 auto;
  height: 90vh;
  overflow: auto;
  position: relative;
}

.listItem {
  max-width: 500px;
  min-width: 200px;
}

.scrollBtn {
  position: absolute;
  
}
